@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body{
  background-color: black;
  margin: 0;
  position: relative;
  height: 170vw;
  width:100%;
  overflow-x: hidden; /* 横方向にはみ出したものは非表示 */
  overflow-y: auto;   /* 縦方向にはみ出したらスクロールバー表示（必要なら） */

}

.first_name{
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size:10vw;
  margin:0;
  animation-name: first_name_anime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  position: fixed;
  opacity: 0%;
  left: -10vw;
  top :11vw;
  z-index: 10;
}
.last_name{
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  color: white;
  font-size:10vw;
  margin:0;
  animation-name: last_name_anime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: fixed;
    opacity: 0%;
    left: -10vw;
    top :2vw;
    z-index: 10;
}

.me{
  background-image:url(gray.jpg);
  background-size: cover;
  width:100%;
  object-fit: cover;
  height: fit-content;
  margin :0;
  animation: iwa_img;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
    opacity: 0%;
    z-index: 5;
    
}

.me_wrap{
  position: static;
  overflow: hidden; /* これが超重要！ */
  width: 100%;
  height: 56vw; /* 必要に応じて調整 */
}

.me_img{
  
  width: 100%;
  height: auto;
  z-index: 5;
}

.maku{
  background-color: rgb(0, 0, 0);
  width:100%;
  position: absolute;
    top:66vw;
  animation: kaimaku linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  z-index: 9;
}

.about{
  color: white;
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-size:5vw;
  margin:0;
  position: absolute;
    top:66vw;
    left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.1vw solid #FFFFFF;
  margin-bottom:5vw;
}

.interest{
  color: white;
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-size:5vw;
  margin:0;
  position: absolute;
    top:125vw;
    left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.1vw solid #FFFFFF;
  margin-bottom:5vw;
}

.port img{
  width:20vw;
  height: auto;
  margin-right: 5vw;
  box-shadow: 0.5vw 0.5vw #FFFFFF ;
}

.port p{
  font-family: "Nanum Myeongjo", serif;
  font-size:1vw;
}

.full_name{
  font-size:3vw !important;
  margin:0;
}

.port{
  color:#FFFFFF;
  display:flex;
  width: 50vw;
  position: absolute;
  top : 80vw;
  left : 22vw;
}

.line{
  background-color: white;
  position: absolute;
  top:118vw;
  left:5vw;
  height: 0.1vh;
  width: 1vw;
  animation: line_ani linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  transform-origin: left center;
  
}

.horse{
  position: absolute;
  top:117vw;
  left:5vw;
  width: 4vw;
  height:auto;
  animation: horse_ani linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
}

.interest_elements div{
  position:relative;
  margin:0 3vw;
  width:15vw;
  height: 15vw;
  filter:saturate(0%);
  transition: 0.5s all;
  box-shadow: 0.4vw 0.4vw 0.1vw #EEEEEE;
}

.interest_elements div img{
  width:100%;
  height: 100%;
}

.interest_elements div p{
  font-family: "Nanum Myeongjo", serif;
  font-size:2vw;
  position: absolute;
  width:15vw;
  height:15vw;
  top:0;
  left:0;
  margin:0;
  transition: 0.5s all;
  opacity: 0;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0.1vw 0.1vw 0.2vw black;
}

.interest_elements div p:hover{
  opacity: 1;
}


.interest_elements_wrap{
  position:absolute;
  top:140vw;
  left:0;
  width:100%;
}


.interest_elements{
  position:relative;
  width:100%;
  display: flex;
  justify-content: center;
}

.interest_elements div:hover{
  filter:saturate(100%);
  transform: scale(1.1);
  box-shadow: 0.8vw 0.8vw 0.3vw white;
}


@keyframes last_name_anime{
  0%{
    position: absolute;
    opacity: 0%;
    left: -20vw;
  }
  100%{
    position: absolute;
    opacity: 100%;
    left :7vw;
  }
}
@keyframes first_name_anime{
  0%{
    position: absolute;
    opacity: 0%;
    left: -20vw;
    color: white;
  }
  100%{
    position: absolute;
    opacity: 100%;
    left :25vw;
    color: black;
  }
}

@keyframes iwa_img{
  0%{
    position: absolute;
    opacity: 0%;
    transform: translateX(100vw);
  }
  100%{
    position: absolute;
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes line_ani{
  10%{
    transform: scaleX(0);
  }
  75%{
    transform: scaleX(85);
  }
  100%{
    transform: scaleX(85);
  }
}

@keyframes horse_ani {
  10%{
    left:5vw;
  }
  75%{
    left:90vw;
  }
  100%{
    left:90vw;
  }
}

@keyframes kaimaku{
  0%{
    position: absolute;
    top:50%;
    height: 55%;
  }
  20%{
    position: absolute;
    top:100%;
    height: 0%;
  }
  100%{
    position: absolute;
    top:100%;
    height: 0%;
  }
}
