@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body{
  background-color: black;
  margin: 0;
  position: relative;
  height: 300vw;
}

.first_name{
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  color: rgb(0, 0, 0);
  font-size:10vw;
  margin:0;
  animation-name: first_name_anime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  position: fixed;
  opacity: 0%;
  left: -10vw;
  top :11vw;
  z-index: 10;
}
.last_name{
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  color: white;
  font-size:10vw;
  margin:0;
  animation-name: last_name_anime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: fixed;
    opacity: 0%;
    left: -10vw;
    top :2vw;
    z-index: 10;
}

.me{
  background-image:url(gray.jpg);
  background-size: cover;
  width:99vw;
  object-fit: cover;
  height: fit-content;
  margin :0;
  animation: iwa_img;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  position: fixed;
    opacity: 0%;
    z-index: 5;
}

.me_img{
  width: 99vw;
  height: auto;
  z-index: 5;
}

.maku{
  background-color: rgb(0, 0, 0);
  width:99vw;
  position: absolute;
    top:66vw;
  animation: kaimaku linear;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  z-index: 9;
}

.about{
  color: white;
  font-family: "Nanum Myeongjo", serif;
  font-style: normal;
  font-size:5vw;
  margin:0;
  position: absolute;
    top:66vw;
    left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.1vw solid #FFFFFF;
  margin-bottom:5vw;
}

.port img{
  width:20vw;
  height: auto;
  margin-right: 5vw;
  box-shadow: 0.5vw 0.5vw #FFFFFF ;
}

.port p{
  font-family: "Nanum Myeongjo", serif;
  font-size:1vw;
}

.full_name{
  font-size:3vw !important;
  margin:0;
}

.port{
  color:#FFFFFF;
  display:flex;
  width: 50vw;
  position: absolute;
  top : 80vw;
  left : 22vw;
}

.line{
  background-color: white;
  position: absolute;
  top:120vw;
  left:5vw;
  height: 1vh;
  width: 1vw;
  animation: line_ani linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
  transform-origin: left center;
}

.horse{
  position: absolute;
  top:119vw;
  left:5vw;
  width: 4vw;
  height:auto;
  animation: horse_ani linear;
  animation-fill-mode: forwards;
  animation-timeline: view();
}

@keyframes last_name_anime{
  0%{
    position: absolute;
    opacity: 0%;
    left: -20vw;
  }
  100%{
    position: absolute;
    opacity: 100%;
    left :7vw;
  }
}
@keyframes first_name_anime{
  0%{
    position: absolute;
    opacity: 0%;
    left: -20vw;
    color: white;
  }
  100%{
    position: absolute;
    opacity: 100%;
    left :25vw;
    color: black;
  }
}

@keyframes iwa_img{
  0%{
    position: absolute;
    opacity: 0%;
    left: 105vw;
  }
  100%{
    position: absolute;
    opacity: 100%;
    left :0vw;
  }
}

@keyframes line_ani{
  10%{
    transform: scaleX(0);
  }
  75%{
    transform: scaleX(85);
  }
  100%{
    transform: scaleX(85);
  }
}

@keyframes horse_ani {
  10%{
    left:5vw;
  }
  75%{
    left:90vw;
  }
  100%{
    left:90vw;
  }
}

@keyframes kaimaku{
  0%{
    position: absolute;
    top:50%;
    height: 55%;
  }
  20%{
    position: absolute;
    top:100%;
    height: 0%;
  }
  100%{
    position: absolute;
    top:100%;
    height: 0%;
  }
}